img {
    padding: 0;
    margin: 0;
}

h1{
    font-size: 55px;
    margin: 5px;
}

.container h1 {
    font-size: 45px;
}

.container p {
    font-size: 16px;
}

 
.disable-dbl-tap-zoom {
    touch-action: manipulation;
  }

@media only screen and (max-width : 320px)  { 
    h1{
        font-size:25px;;
    }
    .container h1 {
        font-size: 20px;
    }
    .container p {
        font-size: 12px;
    }
    .card {
        font-size: 12px;
        font-weight: bold;
    }
    .invisible {
        visibility: hidden !important;
    }
    
  }

